</head>
<body class="text-center" style="display:flex;">

<main class="form-signin">
    <form action="/addCity" method="post">

        <h1 class="h3 mb-3 fw-normal">Форма добавления города</h1>

        <input type="text" id="inputName" name="name" class="form-control" placeholder="Введите название города" required="" autofocus=""><br>


        <button class="w-100 btn btn-lg btn-primary" type="submit">Добавить</button>
        <p class="mt-5 mb-3 text-muted">© 2022</p>
    </form>
</main>

</body>
</html>